@charset "UTF-8";
a,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
label,
li,
ol,
p,
pre,
td,
th,
ul {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0; }

a {
    color: inherit;
    outline: 3px solid transparent;
    outline-offset: 3px;
    text-decoration: none; }
a:hover {
    color: inherit; }

body {
    font-size: 100%;
    line-height: 1; }

button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    margin: 0;
    padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%; }

img {
    border: 0; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }

body,
html {
    height: 100%; }

body {
    font-family: 'IBM Plex Sans', sans-serif; }

#welcome {
    align-items: center;
    background-color: #222;
    background-image: url(/assets/graphics/water-drops.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%; }
#welcome::before {
    background-image: url(/assets/graphics/water-drops.jpg);
    background-position: center;
    background-size: cover;
    content: '';
    filter: blur(0.2em);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50; }
#welcome::after {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 60; }

.welcome-page {
    background-color: transparent;
    color: white;
    padding: 1em;
    position: relative;
    z-index: 100; }
.welcome-page h1,
.welcome-page h2 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); }
.welcome-page h2 {
    font-size: 1.4em; }
.welcome-page form {
    display: block;
    width: 420px; }
.welcome-page iframe {
    border: none;
    height: 100%;
    width: 100%;
}

#calculator-page-4 {
    padding: 0;
}

label {
    display: block;
    margin-bottom: 1.5em; }
label span {
    display: block;
    padding-bottom: .5em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); }

.input {
    -webkit-appearance: none;
    border: none;
    border-radius: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    font: inherit;
    height: auto;
    padding: .75em .5em;
    width: 100%; }

.button {
    border-radius: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    cursor: pointer;
    font: inherit;
    height: auto;
    margin: 2.5em auto 0;
    display: block;
    width: 100%;
    padding: 1em; }
.button.action {
    background-color: #0079ff;
    color: white;
    text-transform: uppercase;
    font-weight: 500; }
.button:disabled {
    background-color: #aaa; }

.back-button {
    font: inherit;
    color: white;
    width: 420px;
    text-align: left;
    margin-bottom: 2em;
    box-sizing: border-box;
    padding-left: 1em;
    position: relative;
    cursor: pointer; }
.back-button:hover {
    text-decoration: underline; }
.back-button::before {
    content: '←';
    position: absolute;
    left: 0; }

.page {
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    position: absolute;
    transition: .5s opacity;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 80; }
.page.current {
    opacity: 1;
    z-index: 100; }
.page p {
    margin: 1em 0; }
.page p a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline; }
.page p a:hover {
    color: rgba(255, 255, 255, 0.9); }

#pages-container {
    height: calc(100% - 50px);
    width: 100%;
    z-index: 100; }

#pages-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: .5s opacity; }
#pages-pagination.visible {
    opacity: 1; }

.page-indicator {
    width: .8em;
    height: .8em;
    background-color: #bbb;
    margin: 0 .5em;
    border-radius: 100%; }
.page-indicator.filled {
    background-color: #fff; }
